<div class="form-group">
    <label for="player_id">Choose a player:</label>
    <select name="player_id" id="player_id" required>
        {% for player in players %}
            <option value="{{ player.id }}">
                {{ player.number }} - {{ player.name }}{% if player.position.name %} ({{ player.position.name }}){% endif %}
            </option>
        {% endfor %}
    </select>
</div>