{% extends "team/team_base.twig" %}

{% block title %}Block &amp; Scroll - Team - List{% endblock %}

{% block content %}

    <p class="breadcrumbs">
        <a href="/">Home</a> -
        <a href="/leagues">Leagues</a> -
        <a href="/league/view/{{ league.id }}">{{ league.name }}</a> -
        Matches
    </p>

    <h1>{{ league.name }} Matches</h1>

    {% if matches|length == 0 %}
        <p><strong>No matches found!</strong></p>
    {% else %}
        
        {% include 'match/partials/match_list_table.twig' with {'matches': matches} %}

        {% if totalPages > 1 %}
            {% include 'partials/pagination.twig' with {'page': page, 'totalPages': totalPages} %}
        {% endif %}
    {% endif %}

    <div class="primary-nav">
        <a href="/leagues/view/{{ league.id }}" class="secondary-nav-link">🔙 Back to League</a>
    </div>

{% endblock %}