 {% block errors %}
    {% if errors %}
        <div class="alert alert-danger">
            {% for error in errors %}
                <span>⚠️ {{ error }}</span><br />
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block messages %}
    {% if messages %}
        <div class="alert alert-info">
            {% for message in messages %}
                <span> {{ message }}</span><br />
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block successes %}
    {% if successes %}
        <div class="alert alert-success">
            {% for success in successes %}
                <span> {{ success }}</span><br />
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}