{% extends "base.twig" %}

{% block title %}Block &amp; Scroll - End Match {{ match.homeTeam.name }} vs {{ match.awayTeam.name }} {% endblock %}

{% block content %}

    <p class="breadcrumbs">
        <a href="/">Home</a> - 
        Ending Match: 
        {% include 'partials/home_team_name.twig' with {'match': match} %} vs 
        {% include 'partials/away_team_name.twig' with {'match': match} %}
    </p>

    <h2>
        Ending Match: 
        {% include 'partials/home_team_name.twig' with {'match': match} %} vs 
        {% include 'partials/away_team_name.twig' with {'match': match} %}
    </h2>

    {% include 'match/end/partials/match_result.twig' with {'match': match} %}

    <div class="column-container">
        <div class="box left">
            {% include 'match/end/partials/winnings.twig' with {'match': match, 'winnings': winnings} %}
        </div>
        <div class="box right">
            {% include 'match/end/partials/mvp.twig' with {'mvp_players': mvp_players} %}
        </div>
    </div>
    
    {% include 'match/end/partials/end_match_message.twig' with {'match': match} %}

    <div class="additional-info">
        {% if recovered_players %}
            <p>The following players are now ready to play bloodbowl again. </p>
            <ul>
            {% for recovered_player in recovered_players %}
                <li> 
                    {% include 'partials/player_link.twig' with {'player': recovered_player} %}
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>

    <h2>Roll for Fans</h2>
    {% include 'match/end/partials/fan_factor_form.twig' with {'match': match, 'team': team} %}

{% endblock %}
