{% extends "base.twig" %}

{% block title %}Block &amp; Scroll - Rules - Side Staff - Re Rolls{% endblock %}

{% block content %}

    <p class="breadcrumbs">
        <a href="/">Home</a> -
        <a href="/rules">Rules</a> - 
        Side Staff -
        Re Rolls
    </p>

    <h2>Re Rolls</h2>

    <p>Once per turn, re-roll a dice roll.</p>

{% endblock %}