Can save a player from death once per game{% extends "base.twig" %}

{% block title %}Block &amp; Scroll - Rules - Side Staff - Apothecary{% endblock %}

{% block content %}

    <p class="breadcrumbs">
        <a href="/rules">Rules</a> - 
        Side Staff -
        Apothecary
    </p>

    <h2>Apothecary</h2>

    <p>Re-roll an injury roll once per game and choose either the new roll or the last roll.
    Used primaryily to avoid player death.</p>

    <p>Different teams have variations. For example, Nurgle have a "plague doctor" that is the
    same price and principle but instead of re-rolling for injury you re-roll for regeneration.
    </p>

{% endblock %}