{% extends "base.twig" %}

{% block title %}Block &amp; Scroll - Rules - Skill {{ skill.name }}{% endblock %}

{% block content %}

    <p class="breadcrumbs">
        <a href="/rules">Rules</a> - 
        <a href="/rules/skills">Skills</a> -
        <a href="/rules/skill/42">Arm Bar</a>
    </p>

    <h2>Arm Bar</h2>

    <p>If an opposition player Falls Over as a result of failing their Agility test when attempting to Dodge, 
    Jump or Leap out of a square in which they were being Marked by this player, you may apply a +1 modifier 
    to either the armour roll or Injury roll. This modifier may be applied after the roll has been made and 
    may be applied even if this player is row Prone. If the opposition player was being marked by more than 
    one player with this Skill, only one player may use it.</p>

    <p>Category: Strength</p>

{% endblock %}