{% extends "base.twig" %}

{% block title %}Block &amp; Scroll - Rules - Skill {{ skill.name }}{% endblock %}

{% block content %}

    <p class="breadcrumbs">
        <a href="/">Home</a> -
        <a href="/rules">Rules</a> - 
        <a href="/rules/skills">Skills</a> -
        <a href="/rules/skill/44">Break Tackle</a>
    </p>

    <h2>Break Tackle</h2>

    <p>Once during their activation, after making an Agility test in order to Dodge,
    this player may modify the dice roll by +1 if their Strength characteristic is 4
    or less, or by +2 if their Strength characteristic is 5 or more.</p>

    <p>Category: Strength</p>

{% endblock %}