{% extends "base.twig" %}

{% block title %}Block &amp; Scroll - Rules - Skill {{ skill.name }}{% endblock %}

{% block content %}

    <p class="breadcrumbs">
        <a href="/">Home</a> -
        <a href="/rules">Rules</a> - 
        <a href="/rules/skills">Skills</a> -
        <a href="/rules/skill/45">Grab</a>
    </p>

    <h2>Grab</h2>

    <p>A player with this skill uses his great strength and prowess to grab his opponent and throw him around. 
    To represent this, only while making a Block Action, if his block results in a push back he may choose any empty square 
    adjacent to his opponent to push back his opponent. When making a Block or Blitz Action, Grab and Side Step will cancel 
    each other out and the standard pushback rules apply. Grab will not work if there are no empty adjacent squares. A player 
    with the Grab skill can never learn or gain the Frenzy skill through any means. Likewise, a player with the Frenzy skill c
    an never learn or gain the Grab skill through any means.</p>

    <p>Category: Strength</p>

{% endblock %}