{% extends "base.twig" %}

{% block title %}Block &amp; Scroll - Rules - Skill {{ skill.name }}{% endblock %}

{% block content %}

    <p class="breadcrumbs">
        <a href="/rules">Rules</a> - 
        <a href="/rules/skills">Skills</a> -
        <a href="/rules/skill/68">Animal Savagery</a>
    </p>

    <h2>Animal Savagery</h2>

    <p>When this player is activated, even if they are Prone or have lost their Tackle Zone, 
    immediately after declaring the action they will perform but before peforming the action, 
    roll a D6, applying a +2 modifier to the dice roll if you declared the player would 
    perform a Block or Blitz action (or a Special action granted by a Skill or Trait that 
    can be performed instead of a Block action):
        <ul>
            <li>1) On a Roll of 1-3, this player lashes out at their team-mates:
                <ul>
                    <li>1) One Standing team-mate of your choice that is currently adjacent to this player is 
                    immediately Knocked Down by this player. This does not cause a Turnover unless the Knocked 
                    Down player was in possession of the ball. After making an armour roll (and possible Injury 
                    roll) against the Knocked Down player, this player may continue their activation and complete 
                    their declared action if able, Note that, if this player has any applicable Skills, the coach 
                    of the opposing team may use them when making an Armour roll (and possible Injury roll) against
                     the Knocked Down player.</li>
                    <li>2) If this player is not currently adjacent to any Standing team-mates, this player&amp;s 
                    activation ends immediately. Additionally, this player loses their Tackle Zone until they 
                    are next activated.</li>
                </ul>
            </li>
            <li>On a roll of 4+, this player continues their activation as normal and completes their declared action.</li>
        </ul>
    </p>

    <p>Category: Extraordinary</p>

{% endblock %}