{% extends "base.twig" %}

{% block title %}Block &amp; Scroll - Rules - Skill {{ skill.name }}{% endblock %}

{% block content %}

    <p class="breadcrumbs">
        <a href="/">Home</a> -
        <a href="/rules">Rules</a> - 
        <a href="/rules/skills">Skills</a> -
        <a href="/rules/skill/69">Animosity</a>
    </p>

    <h2>Animosity</h2>

    <p>This player is jealous of and dislikes certain other players of their team, as shown in
    brackets after the name of the Skill on this player&amp;s profile. This may be defined by 
    position or race. For example, a Skaven Thrower on an Underworld Denizens team has Animosity 
    (Underworld Goblin Lineman), meaning they suffer Animosity towards any Underworld Goblin 
    Lineman players on their team, Whereas a Skaven Renegade on a Chaos Renegade team has Animosity
    (all team-mates), meaning they suffer Animosity towards all of their team-mates equally. When
    this player wishes to perform a Hand-off action to a team-mate of the type listed, or attempts
    to perform a Pass action and the target square is occupied by a team-mate of the type listed,
    this player may refuse to do so. Roll a D6. On a roll of 1, this player refuses to perform 
    the action and their activation comes to an end. Animosity does not extend to Mercenaries 
    or Star Players.</p>

    <p>Category: Extraordinary</p>

{% endblock %}