{% extends "base.twig" %}

{% block title %}Block &amp; Scroll - Rules - Skill {{ skill.name }}{% endblock %}

{% block content %}

    <p class="breadcrumbs">
        <a href="/rules">Rules</a> - 
        <a href="/rules/skills">Skills</a> - 
        <a href="/rules/skill/72">Bombardier</a>
    </p>

    <h2>Bombardier</h2>

    <p>When activated and if they are Standing, this player can perform a “Throw Bomb” Special action. 
    This Special action is neither a Pass action nor a Throw Team-mate action, so does not prevent 
    another player performing one of those actions during the same team turn. However, only a single 
    player with this Trait may perform this Special action each team turn. A Bomb can be thrown and
    caught, and the throw interfered with, just like a ball, using the rules for Pass action as
    described on page 48, with the following exceptions:</p>

    <p>
        <ul>
            <li>A player may not stand up or move before performing a Throw Bomb action.</li>
            <li>Bombs do not bounce and can come to rest on the ground in an occupied square. 
            Should a player fail to catch a Bomb, it will come to rest on the ground in the
            square that player occupies.</li>
            <li>If a Bomb is fumbled, it will explode immediately in the square occupied by
            the player attempting to throw it.</li>
            <li>If a Bomb comes to rest on the ground in an empty square or is caught by an
            opposite player, no Turnover is caused.</li>
            <li>A player that is in possession of the ball can still catch a Bomb.</li>
            <li>Any Skills that can be used when performing a Pass action can also be used
            when performing a Throw Bomb Special action, with the exception of On the 
            Ball.</li>
        </ul>
    </p>

    <p>If a Bomb is caught by a player on either team, roll a D6:</p>

    <p>
        <ul>
            <li>On a roll of 4+, the Bomb explodes immediately, as described below.</li>
            <li>On a roll of 1-3, that player must throw the Bomb again immediately. 
            This throw takes place out of the normal sequence of play.</li>
        </ul>
    </p>

    <p>Should a Bomb ever leave the pitch, it explodes in the crowd with no effect (on the game)
    before the crowd can throw it back.</p>

    <p>When a Bomb comes to rest on the ground, in either an occupied square, in a square occupied 
    by a player that failed to catch the Bomb or in a square occupid by a Prone or Stunned player, 
    it will explode immediately:</p>
    
    <p>
        <ul>
            <li>If the Bomb explodes in an occupied square, that player is automatically hit by 
            the explosion.</li>
            <li>Roll a D6 for each player (from either team) that occupies a square adjacet to 
            the one in which the Bomb exploded:
                <ul>
                    <li>On a roll of 4+, the player has been hit by the explosion.</li>
                    <li>On a roll of 1-3, the player manages to avoid the explosion.</li>
                </ul>
            </li>
            <li>Any Standing players hit by the explosion are Placed Prone.</li>
            <li>An Armour roll (and possibly an Injury roll as well) is made against any player hit 
            by the explosion, even if they were already Prone or Stunned.</li>
        </ul>
    </p>

    <p>Category: Extraordinary</p>

{% endblock %}
