

{% extends "base.twig" %}

{% block title %}Block &amp; Scroll - Rules - Skill {{ skill.name }}{% endblock %}

{% block content %}

    <p class="breadcrumbs">
        <a href="/">Home</a> -
        <a href="/rules">Rules</a> - 
        <a href="/rules/skills">Skills</a> - 
        <a href="/rules/skill/80">Hypnotic Gaze</a>
    </p>

    <h2>Hypnotic Gaze</h2>

    <p>The player has a powerful telepathic ability that he can use to stun an
    opponent into immobility. The player may use hypnotic gaze at the end of
    his Move Action on one opposing player who is in an adjacent square. Make
    an Agility roll for the player with hypnotic gaze, with a -1 modifier for
    each opposing tackle zone on the player with hypnotic gaze other than the
    victim&amp;s. If the Agility roll is successful, then the opposing player 
    loses his tackle zones and may not catch, intercept or pass the ball, assist 
    another player on a block or foul, or move voluntarily until the start of
    his next Action or the drive ends. If the roll fails, then the hypnotic 
    gaze has no effect.</p>
    
    <p>Category: Extraordinary</p>

{% endblock %}
