{% extends "base.twig" %}

{% block title %}Block &amp; Scroll - Rules - Skill {{ skill.name }}{% endblock %}

{% block content %}

    <p class="breadcrumbs">
        <a href="/">Home</a> -
        <a href="/rules">Rules</a> - 
        <a href="/rules/skills">Skills</a> -
        <a href="/rules/skill/86">Plague Ridden</a>
    </p>

    <h2>Plague Ridden</h2>

    <p>Once per game, if an opposition player with Strength characteristic 
    of 4 or less that does not have the Decay, Regeneration or Stunty 
    traits suffers a Casualty result of 15-16, DEAD as the result of a 
    Block action performed or a Foul action committed by a player with 
    this Trait that belongs to your team, and if that player cannot be 
    saved by an apothecary, you may choose to use this Trait. If you do, 
    that player does not die; they have instead been infected with a virulent 
    plague! If your team has the "Favoured of Nurgle" special rule, a new 
    "Rotter Lineman" player, drawn from the Nurgle roster, can be placed 
    immediately in the Reserves box of your team's dugout (this may cause 
    a team to have more than 16 players for the remainder of this game). 
    During step 4 of the post-game sequence, this player may be permanently 
    hired, Exactly as you would a Journeyman player that had played for 
    your team.</p>

    <p>Category: Extraordinary</p>

{% endblock %}