{% extends "base.twig" %}

{% block title %}Block &amp; Scroll - Rules - Skill {{ skill.name }}{% endblock %}

{% block content %}

    <p class="breadcrumbs">
        <a href="/">Home</a> -
        <a href="/rules">Rules</a> - 
        <a href="/rules/skills">Skills</a> -
        <a href="/rules/skill/{{skill.id}}">{{ skill.name }}</a>
    </p>

    <h2>{{ skill.name }}</h2>

    <p>When this player makes an Agility test in order to Dodge, they ignore
    any -1 modifiers for being Marked in the square they have moved into,
    unless they also have either the Bombardier trait, the Chainsaw trait or
    the Swoop trait.</p>

    <p>However, when an opposition player attempts to interfere with a Pass 
    action performed by this player, that player may apply a +1 modifier to 
    their Agility test.</p>

    <p>Finally, player with this Trait are more prone to injury. Therefore, 
    when an Injury roll is made against this player, roll 2D6 and consult
    the Stunty Injury table, on page 60. This Trait may still be used if 
    the player is Prone, Stunned, or has lost their Tackle Zone.</p>

    <p>Category: Extraordinary</p>

{% endblock %}