{# filepath: c:\Users\Clint\Documents\Repos\block-n-scroll\web\templates\base.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Block & Scroll{% endblock %}</title>
    <link rel="stylesheet" href="/css/01_core_style.css">
    {% block head %}{% endblock %}
</head>
<body>
    {% include 'partials/header.twig' %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    {% block scripts %}{% endblock %}
</body>
</html>