{# filepath: c:\Users\Clint\Documents\Repos\block-n-scroll\web\templates\base.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Block & Scroll{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block stylesheets %}
        <link rel="stylesheet" href="/css/01_core_style.css">
    {% endblock %}
</head>
<body>
    {% include 'partials/header.twig' %}
    <div class="container">
       {% include 'partials/messages.twig' %}
       {% block content %}{% endblock %}
    </div>
    {% block scripts %}{% endblock %}
</body>
</html>