{% extends "base.twig" %}

{% block title %}Block & Scroll - Rules{% endblock %}

{% block content %}

        <p class="breadcrumbs">
            <a href="/rules">Rules</a>
        </p>

        <p class="rules-intro">Browse the rules and stats for your league:</p>
        <nav class="rules-nav">
            <a href="/rules/teams" class="rules-link">Races &amp; Positional Stats</a>
            <a href="/rules/skills" class="rules-link">Skills Lookup</a>
            <a href="/rules/special_rules" class="rules-link">Special Rules</a>
        </nav>
        
{% endblock %}