{% extends "base.twig" %}

{% block title %}Block &amp; Scroll - Teams{% endblock %}

{% block content %}

        <p class="breadcrumbs">
            <a href="/rules">Teams</a>
        </p>

        <nav class="rules-nav">
            <a href="/team/view/all" class="rules-link">View Existing Teams</a>
            <a href="/team/view/own" class="rules-link">Manage Teams</a>
            <a href="/team/create" class="rules-link">Create Team</a>
        </nav>
        
{% endblock %}