{% extends "base.twig" %}

{% block title %}Block &amp; Scroll - Teams{% endblock %}

{% block content %}

        <p class="breadcrumbs">
            <a href="/rules">Teams</a>
        </p>

        <nav class="rules-nav">
            <a href="/team/view/all" class="rules-link">View Teams</a>
            {% if session.user_id %}
                <a href="/team/view/user/{{ session.user_id }}" class="rules-link">View My Teams</a>
            {% endif %}
            <a href="/team/create" class="rules-link">Create Team</a>
        </nav>
        
{% endblock %}