{% extends "base.twig" %}

{% block title %}Block &amp; Scroll - Rules - Skill {{ skill.name }}{% endblock %}

{% block content %}

    <p class="breadcrumbs">
        <a href="/rules">Rules</a> - 
        <a href="/rules/skills">Skills</a> -
        <a href="/rules/skill/41">Wall Thrower</a>
    </p>

    <h2>Wall Thrower</h2>

    <p>When this player throws the ball at the wall, they may apply an additional +1 modifier when testing for the accuracy of the pass.</p>

    <p>Category: Agility [Dungeon Bowl]</p>

{% endblock %}