{% extends "base.twig" %}

{% block title %}Block & Scroll - Rules - Skills{% endblock %}

{% block content %}

<p class="breadcrumbs">
    <a href="/">Home</a> -
    <a href="/rules">Rules</a> - 
    <a href="/rules/skills">Skills</a>
</p>

<p class="rules-intro">All skills currently in <strong>Blood Bowl</strong>:</p>

{% set grouped = {} %}
{% for skill in skills %}
    {% set grouped = grouped|merge({ (skill.category): (grouped[skill.category]|default([]))|merge([skill]) }) %}
{% endfor %}

{% for category, skills_in_category in grouped %}
    <h2>{{ category }}</h2>
    <table class="sortable-category-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for skill in skills_in_category %}
            <tr>
                <td>
                    <a href="/rules/skill/{{ skill.id }}">
                        {{ skill.name }}
                    </a>
                </td>
                <td>{{ skill.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}

{% endblock %}
