{% extends "base.twig" %}

{% block title %}Block & Scroll - Rules - Skills{% endblock %}

{% block content %}

        <p class="breadcrumbs">
            <a href="/rules">Rules</a> - 
            <a href="/rules/skills">Skills</a>
        </p>

        <p class="rules-intro">All skills currently in <strong>Blood Bowl</strong>:</p>

        <table id="sortable-table">
            <thead>
                <tr>
                    <th onclick="sortTable(0)">Name &#x25B2;&#x25BC;</th>
                    <th onclick="sortTable(1)">Description &#x25B2;&#x25BC;</th>
                    <th onclick="sortTable(2)">Category &#x25B2;&#x25BC;</th>
                </tr>
            </thead>
            <tbody>
                {% for skill in skills %}
                <tr>
                    <td>
                        <a href="/rules/skill/{{ skill.id }}">
                            {{ skill.name }}
                        </a>
                    </td>
                    <td>{{ skill.description }}</td>
                    <td>{{ skill.category }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <script src="/js/sortable-table.js"></script>        
{% endblock %}