<!DOCTYPE html>
<html>
<head><title>Teams</title></head>
<body>
  <h1>Teams</h1>
  <ul>
    {% for team in teams %}
        <li>
            <a href="/lookup/teams/{{team.id}}
                {{ team.name }} 
            </a> 
            {{ team.description }}
            Tier {{ team.tier }}
        </li>
    {% endfor %}
  </ul>
</body>
</html>
