{% extends "base.twig" %}

{% block title %}Block & Scroll - Rules - Teams{% endblock %}

{% block content %}

        <p><a href="/rules">Rules</a> - Teams</p>

        <p class="rules-intro">All teams currently playable:</p>

        <table id="sortable-table">
            <thead>
                <tr>
                    <th onclick="sortTable(0)">Name &#x25B2;&#x25BC;</th>
                    <th onclick="sortTable(1)">Description &#x25B2;&#x25BC;</th>
                    <th onclick="sortTable(2)">Tier &#x25B2;&#x25BC;</th>
                </tr>
            </thead>
            <tbody>
                {% for team in teams %}
                <tr>
                    <td>
                        <a href="/rules/teams/{{ team.id }}">
                            {{ team.name }}
                        </a>
                    </td>
                    <td>{{ team.description }}</td>
                    <td>{{ team.tier }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <script src="/js/sortable-table.js"></script>        
{% endblock %}