{% extends "team/team_base.twig" %}

{% block title %}Block &amp; Scroll - Create League{% endblock %}

{% block content %}

    <p class="breadcrumbs">
        <a href="/">Home</a> -
        <a href="/leagues">Leagues</a> - 
        Changes Saved
    </p>

    <h2>League Changes Saved</h2>
    
    <div class="primary-nav">
        <a href="/leagues" class="secondary-nav-link">🔙 Back to Leagues</a>
    </div>

{% endblock %}