{% extends "team/team_base.twig" %}

{% block title %}Block &amp; Scroll - Team - {{ team.name }} - Start Match - PreMatch Sequence{% endblock %}

{% block content %}

    <p class="breadcrumbs">
        <a href="/">Home</a> - 
        Pre Match - 
        {% include 'partials/home_team_name.twig' with {'match': match} %} vs 
        {% include 'partials/away_team_name.twig' with {'match': match} %}
        - Roll Fans
    </p>

    <h2>How many fans turn up?</h2>

    <form method="post" action="/match/{{match.id}}/gate" class="form-horizontal">
        <div class="form-section">   
            <div class="form-group">
                <label for="home_fan_roll">{% include 'partials/home_team_name.twig' with {'match': match} %}<br />Fan Factor:</label>
                {% include 'partials/dice_roll.twig' with {'name': 'home_fan_roll', 'min': 1, 'max': 6} %}
            </div>
            <div class="form-group">
                <label for="away_fan_roll">{% include 'partials/away_team_name.twig' with {'match': match} %}<br />Fan Factor:</label>
                {% include 'partials/dice_roll.twig' with {'name': 'away_fan_roll', 'min': 1, 'max': 6} %}
            </div>       
            {% if not match.away_team_id %}
                <div class="form-group">
                    <label for="away_dedicated_fans">{% include 'partials/away_team_name.twig' with {'match': match} %} Dedicated Fans:</label>
                    {% include 'partials/dice_roll.twig' with {'name': 'away_dedicated_fans', 'min': 1, 'max': 6} %}
                </div>  
            {% endif %}     
        
            <div class="form-section">
                <button type="submit">Submit Fan Results</button>
            </div>
        </div>      
    </form>

{% endblock %}