{% extends "team/team_base.twig" %}

{% block title %}Block &amp; Scroll - Team - {{ team.name }} - Start Match - PreMatch Sequence{% endblock %}

{% block content %}

    <p class="breadcrumbs">
        <a href="/">Home</a> - 
        Pre Match - 
        {% include 'partials/home_team_name.twig' with {'match': match} %} vs 
        {% include 'partials/away_team_name.twig' with {'match': match} %}
        - Weather
    </p>

    <h2>Inducements</h2>

    <p>You have {{ inducement_budget }} Gold to spend on inducements.</p>

    <form action="/match/{{match.id}}/inducements" method="post">
        <button type="submit">Kick Off</button>
    </form>
    
{% endblock %}