<center>
    {% if match.home_score == 0 and match.away_score == 0 %}
        <h1>Draw</h1>
    {% elseif match.home_score == match.away_score %}
        <h1>Draw</h1>
    {% else %}
        <h1> Victory for
            {% if match.home_score > match.away_score %}
                {{ match.homeTeam.name }}
            {% else %}
                {{ match.awayTeam.name ?? match.away_team_name }}
            {% endif %}
        </h1>
    {% endif %}
</center>