{% extends "base.twig" %}

{% block title %}Block &amp; Scroll - Team - Create{% endblock %}

{% block content %}

    <p class="breadcrumbs">
        <a href="/team">Teams</a> - 
        <a href="/team/create">Create</a> -
        Buy Staff
    </p>

    <h1>Buy Staff</h1>
    
    test

{% endblock %}