{% extends "team/team_base.twig" %}

{% block title %}Block &amp; Scroll - Team - Create - Too Many Teams{% endblock %}

{% block content %}

    <p class="breadcrumbs">
        <a href="/">Home</a> -
        <a href="/team">Teams</a> - 
        <a href="/team/create">Create</a> -
        Error
    </p>

    <h1>User Account already has too Many Teams</h1>
    
    <p>Please delete some teams before creating any more.</p>
    <p>The limit is {{max}} teams per user</p>
    <p>Get in touch if you think this is an error, or you have particular reason for this functionality.</p>

{% endblock %}