{# filepath: c:\Users\Clint\Documents\Repos\block-n-scroll\web\templates\auth\login.twig #}
{% extends "base.twig" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1>Login</h1>
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <form method="post" action="/account/login">
        <div class="form-section">
            <div class="form-group">
                <label for="username">Username:</label>
                <input class="form-control" type="text" id="username" name="username" value="{{ username|default('') }}" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input class="form-control" type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
            
            <p>Don't have an account? <a href="/account/register">Register here</a>.</p>
            <p><a href="/account/forgot-password">Forgot your password?</a></p>
        </div>
    </form>
{% endblock %}