{% extends "base.twig" %}

{% block title %}Block &amp; Scroll - Rules - Skill {{ skill.name }}{% endblock %}

{% block content %}

    <p class="breadcrumbs">
        <a href="/">Home</a> -
        <a href="/rules">Rules</a> - 
        <a href="/rules/skills">Skills</a> -
        <a href="/rules/skill/38">Portal Passer</a>
    </p>

    <h2>Portal Passer</h2>

    <p>During its activation, when this player teleports using a Portal, it may declare a Pass action after determining which Portal it is teleporting to.</p>
    <p> This Skill may be used even if the player did not declare a Pass action at the beginning of their activation.</p>

    <p>Category: Agility [Dungeon Bowl]</p>

{% endblock %}